* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 2000px;
    background-color: #ccdef0;
    background-image: radial-gradient(
        circle 675px at center,
        #ffffff 5%,
        #4c7aa8 100%
    );
}

.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 90px;
}

.logo {
    font-weight: 900;
    font-size: 28px;
    line-height: 1;
    color: (120deg, #b8a5c7 50%, #59e42f 100%);
    ;
}

.logo span {
    color: #5abb33;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav__item {
    margin-right: 50px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    color: #53cbf0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.nav__link:hover {
    text-decoration: underline;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-desc {
    width: 500px;
    padding-top: 90px;
}

.header__title {
    color: #53cbf0;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 35px;
}

.header__text {
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 35px;
}

.header__btn {
    display: inline-block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    background-color: #fadb60;
    background-image:  linear-gradient(120deg, #b8a5c7 50%, #59e42f 100%);


    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;

    line-height: 65px;
}

.header-photo {
    width: 900px;
    align-items: center;

}

/* ----------------- Footer --------------------- */

footer.footer{
    height: 80%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-family: var(--Josefin);
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a{
    color: var(--white);
}

footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/*              Viewport less then or equal to 1130px            */

@media only screen and (max-width: 1000px){
    .site-content .post-content > .post-image .post-info{
        left: 1rem !important;
        bottom: 1.2rem !important;
        border-radius: 0% !important;
    }

    .site-content .sidebar .popular-post .post-info{
        display: none !important;
    }

    footer.footer .container{
        grid-template-columns: repeat(2, 1fr);
    }

}

/*      x       Viewport less then or equal to 1130px    x     */


/*              Viewport less then or equal to 750px            */

@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 50%;
    }

    footer.footer .container{
        grid-template-columns: repeat(1, 1fr);
    }

}


/*        x      Viewport less then or equal to 750px       x     */


/*              Viewport less then or equal to 520px            */

@media only screen and (max-width: 400px){
    main .blog{
        height: 120vh;
    }

    .site-content .post-content > .post-image .post-info{
        display: none;
    }

    footer.footer .container > div{
        padding:  1rem .7rem !important;
    }

    footer .rights{
        padding: 0 1.4rem;
        text-align: center;
    }

    nav .toggle-collapse{
        width: 80% !important;
    }

}

/*        x      Viewport less then or equal to 520px       x     */